/* 스피너 스타일링*/
input[type="number"]::-webkit-inner-spin-button, /* 증감 화살표 */
input[type="number"]::-webkit-outer-spin-button { /* 외각을 포함한 스피너의 컨테이너 */
  opacity: 1; /* 항상 보이게 만듦 */
}
/* inner와 outer를 함께 써야 함 -- 1. 브라우저 호환성 2.안쪽과 바깥쪽 모두 제어하기 위해*/


/* 결과 텍스트 스타일*/
#result {
  font-weight: 700;
}


/* 텍스트와 입력칸 레이아웃*/
.inline-text,
.range,
.mynumber,
.my_button {
    display: inline-block; /* 블록 요소를 인라인처럼 배치 */
    margin-right: 8px; /* 간격 조절 */
}